{% extends 'theme.html' %}


{% block body %}



<!--================Our Latest Product Area =================-->
        <section class="our_latest_product">
            <div class="container">
                <div class="s_m_title">
                    <h2>Our Latest Product</h2>
                </div>
                <div class="l_product_slider owl-carousel">
                    <div class="item">

                          <div class="l_product_item">
                                <div class="l_p_img">
                                    <center>
                                <a href="https://www.mediamarkt.com.tr/tr/product/_with-touch-bar-2-3ghz-8-core-9th-generation-%C4%B1ntel%C2%A0core%C2%A0i9-processor-512gb-sp-15-macbook-pro-1200469.html"><img class="img-fluid" style="height: 200px;" src="https://assets.mmsrg.com/isr/166325/c1/-/pixelboxx-mss-81816986/fee_786_587_png/APPLE-with-Touch-Bar%3A-2.3GHz-8-core-9th-generation-Intel%C2%A0Core%C2%A0i9-processor--512GB---Sp-15%27%27-MacBook-Pro" alt=""></a>
                                    </center>
                                </div>
                                <div class="l_p_text" style="height: 130px; background-color:#e8e8e8; ">
                                   <ul>

                                        <li><a class="add_cart_btn" href="https://www.mediamarkt.com.tr/tr/product/_with-touch-bar-2-3ghz-8-core-9th-generation-%C4%B1ntel%C2%A0core%C2%A0i9-processor-512gb-sp-15-macbook-pro-1200469.html">BUY</a></li>
                                    </ul>
                                    <h4 style="padding-bottom: 10px; font-size: 14px;">APPLE with Touch Bar: 2.3GHz 8-core 9th-generation Intel Core i9 processor, 512GB - Sp 15'' MacBook Pro</h4>
                                    <h5>₺21.399</h5>
                                </div>
                            </div>
                          <div class="l_product_item">
                                <div class="l_p_img">
                                    <center>
                                <a href="https://www.hepsiburada.com/asus-x540ua-go1397s-intel-core-i3-7020u-4gb-240gb-ssd-freedos-15-6-tasinabilir-bilgisayar-pm-HB00000NO2UT"><img class="img-fluid" style="height: 200px;" src="https://productimages.hepsiburada.net/s/31/551/10348447563826.jpg" alt=""></a>
                                    </center>
                                </div>
                                <div class="l_p_text" style="height: 130px; background-color:#e8e8e8; ">
                                   <ul>

                                        <li><a class="add_cart_btn" href="https://www.hepsiburada.com/asus-x540ua-go1397s-intel-core-i3-7020u-4gb-240gb-ssd-freedos-15-6-tasinabilir-bilgisayar-pm-HB00000NO2UT">BUY</a></li>
                                    </ul>
                                    <h4 style="padding-bottom: 10px; font-size: 14px;">Asus X540UA-GO1397S Intel Core i3 7020U 4GB 240GB SSD Freedos 15.6</h4>
                                    <h5> ₺2.153</h5>
                                </div>
                            </div>
                    </div>
                    <div class="item">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <center>
                                <a href="https://www.vatanbilgisayar.com/macbook-pro-touch-bar-core-i9-2-3ghz-16gb-1tb-ssd-retina-16-4gb-silver.html"><img class="img-fluid" style="height: 200px;" src="https://cdn.vatanbilgisayar.com/UPLOAD/PRODUCT/APPLE/thumb/TeoriV2-105271-4_medium.jpg" alt=""></a>
                                    </center>
                                </div>
                                <div class="l_p_text" style="height: 130px; background-color:#e8e8e8; ">
                                   <ul>

                                        <li><a class="add_cart_btn" href="https://www.vatanbilgisayar.com/macbook-pro-touch-bar-core-i9-2-3ghz-16gb-1tb-ssd-retina-16-4gb-silver.html">BUY</a></li>
                                    </ul>
                                    <h4 style="padding-bottom: 10px; font-size: 14px;">MACBOOK PRO TOUCH BAR CORE İ9 2.3GHZ-16GB-1TB SSD-RETINA 16"-4GB-SILVER</h4>
                                    <h5> ₺18.220</h5>
                                </div>
                            </div>
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <center>
                                <a href="HP 15-DA1017NT 5QS92EA Intel Core i5-8265U 8GB 1TB NVIDIA GeForce MX110 2GB Gümüş Notebook"><img class="img-fluid" style="height: 200px;" src="https://reimg-teknosa-cloud-prod.mncdn.com/mnresize/600/600/productimage/125033931/125033931_0_MC/8805007753266_1574898675177.jpg" alt=""></a>
                                    </center>
                                </div>
                                <div class="l_p_text" style="height: 130px; background-color:#e8e8e8; ">
                                   <ul>

                                        <li><a class="add_cart_btn" href="HP 15-DA1017NT 5QS92EA Intel Core i5-8265U 8GB 1TB NVIDIA GeForce MX110 2GB Gümüş Notebook">BUY</a></li>
                                    </ul>
                                    <h4 style="padding-bottom: 10px; font-size: 14px;">HP 15-DA1017NT 5QS92EA Intel Core i5-8265U 8GB 1TB NVIDIA GeForce MX110 2GB Gümüş Notebook</h4>
                                    <h5> ₺4.089</h5>
                                </div>
                            </div>
                    </div>
                    <div class="item">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <center>
                                <a href="https://www.vatanbilgisayar.com/asus-g531gw-core-i7-9750h-2-6ghz-16gb-1tb-ssd-15-6-rtx2070-8gb-w10-46794.html"><img class="img-fluid" style="height: 200px;" src="https://cdn.vatanbilgisayar.com/UPLOAD/PRODUCT/ASUS/thumb/TeoriV2-105030_medium.jpg" alt=""></a>
                                    </center>
                                </div>
                                <div class="l_p_text" style="height: 130px; background-color:#e8e8e8; ">
                                   <ul>

                                        <li><a class="add_cart_btn" href="https://www.vatanbilgisayar.com/asus-g531gw-core-i7-9750h-2-6ghz-16gb-1tb-ssd-15-6-rtx2070-8gb-w10-46794.html">BUY</a></li>
                                    </ul>
                                    <h4 style="padding-bottom: 10px; font-size: 14px;">ASUS G531GW CORE İ7 9750H 2.6GHZ-16GB-1TB SSD-15.6"-RTX2070 8GB-W10</h4>
                                    <h5> ₺14.796</h5>
                                </div>
                            </div>
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <center>
                                <a href="https://www.hepsiburada.com/asus-rog-gz700gx-ev011t-intel-core-i9-9980hk-32gb-512gb-ssd-rtx2080-max-q-windows-10-17-3-fhd-tasinabilir-bilgisayar-pm-HB00000NTR51"><img class="img-fluid" style="height: 200px;" src="https://productimages.hepsiburada.net/s/32/551/10354496307250.jpg" alt=""></a>
                                    </center>
                                </div>
                                <div class="l_p_text" style="height: 130px; background-color:#e8e8e8; ">
                                   <ul>

                                        <li><a class="add_cart_btn" href="https://www.hepsiburada.com/asus-rog-gz700gx-ev011t-intel-core-i9-9980hk-32gb-512gb-ssd-rtx2080-max-q-windows-10-17-3-fhd-tasinabilir-bilgisayar-pm-HB00000NTR51">BUY</a></li>
                                    </ul>
                                    <h4 style="padding-bottom: 10px; font-size: 14px;">Asus ROG GZ700GX-EV011T Intel Core i9 9980HK 32GB 512GB SSD RTX2080 Max-Q Windows 10 17.3" FHD</h4>
                                    <h5> ₺37.399,00</h5>
                                </div>
                            </div>
                    </div>
                    <div class="item">
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <center>
                                <a href="https://www.teknosa.com/apple-16inch-macbook-pro-with-touch-bar-26ghz-6core-9thgeneration-intelcorei7-processor-512gb-space-grey-p-125034019?gclid=Cj0KCQiArdLvBRCrARIsAGhB_sy6o4J_DddsPKurOKP3Fbu2nlSrMU42zC_6ruVhg9Hqm2WV770Q6VUaAtFcEALw_wcB&gclsrc=aw.ds"><img class="img-fluid" style="height: 200px;" src="https://reimg-teknosa-cloud-prod.mncdn.com/mnresize/600/600/productimage/125034019/125034019_0_MC/8824575655986_1575456317970.jpg" alt=""></a>
                                    </center>
                                </div>
                                <div class="l_p_text" style="height: 130px; background-color:#e8e8e8; ">
                                   <ul>

                                        <li><a class="add_cart_btn" href="https://www.teknosa.com/apple-16inch-macbook-pro-with-touch-bar-26ghz-6core-9thgeneration-intelcorei7-processor-512gb-space-grey-p-125034019?gclid=Cj0KCQiArdLvBRCrARIsAGhB_sy6o4J_DddsPKurOKP3Fbu2nlSrMU42zC_6ruVhg9Hqm2WV770Q6VUaAtFcEALw_wcB&gclsrc=aw.ds">BUY</a></li>

                                    </ul>
                                    <h4 style="padding-bottom: 10px; font-size: 14px;">Apple 16-inch MacBook Pro with Touch Bar: 2.6GHz 6-core 9th-generation Intel Core i7 processor, 512GB - Space Grey</h4>
                                    <h5> ₺18.299</h5>
                                </div>
                            </div>
                            <div class="l_product_item">
                                <div class="l_p_img">
                                    <center>
                                <a href="https://www.trendyol.com/lenovo/x1-c6-20khs0uc00-i7-8550u-16gb-1tb-ssd-14--fhd-windows-10-pro-p-32089591?boutiqueId=378694&gclid=Cj0KCQiArdLvBRCrARIsAGhB_sy9xeW-k-Eel2hdZ-bWTgHP99EbgqO8hrGAvHXOa15fhQnJThyIpogaAo0IEALw_wcB"><img class="img-fluid" style="height: 200px;" src="https://productimages.hepsiburada.net/s/20/551/9900016664626.jpg" alt=""></a>
                                    </center>
                                </div>
                                <div class="l_p_text" style="height: 130px; background-color:#e8e8e8; ">
                                   <ul>

                                        <li><a class="add_cart_btn" href="https://www.trendyol.com/lenovo/x1-c6-20khs0uc00-i7-8550u-16gb-1tb-ssd-14--fhd-windows-10-pro-p-32089591?boutiqueId=378694&gclid=Cj0KCQiArdLvBRCrARIsAGhB_sy9xeW-k-Eel2hdZ-bWTgHP99EbgqO8hrGAvHXOa15fhQnJThyIpogaAo0IEALw_wcB">BUY</a></li>

                                    </ul>
                                    <h4 style="padding-bottom: 10px; font-size: 14px;">Lenovo x1 C6 Intel Core i7 8550U 16GB 1TB SSD Windows 10 Pro 14" FHD"</h4>
                                    <h5> ₺17.999</h5>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Our Latest Product Area =================-->


{% endblock %}
