{% extends 'theme_2.html' %}


{% block body %}

      <!--================login Area =================-->
        <section class="login_area p_100">
            <div class="container">
                <div class="login_inner">
                    <div class="row">

                        <div class="col-lg-8">
                            <div class="login_title">
                                <h2>create account</h2>
                            </div>
                             {% from "errormacro.html" import render_field %}
                            <form class="login_form row" method="POST">
                                <div class="col-lg-6 form-group">
                                    {{render_field(form.name, class_="form-control" ,  placeholder="Name")}}
                                </div>
                                <div class="col-lg-6 form-group">
                                    {{render_field(form.surname, class_="form-control",  placeholder="Surname")}}
                                </div>
                                <div class="col-lg-6 form-group">
                                   {{render_field(form.email, class_="form-control",  placeholder="E-mail")}}
                                </div>
                                <div class="col-lg-6 form-group">
                                    {{render_field(form.username, class_="form-control",  placeholder="Username")}}
                                </div>
                                <div class="col-lg-6 form-group">
                                    {{render_field(form.password, class_="form-control",  placeholder="Password" , type="password")}}
                                </div>
                                <div class="col-lg-6 form-group">
                                   {{render_field(form.confirm, class_="form-control",  placeholder="Confirm Password", type="password")}}
                                </div>
                                <div class="col-lg-6 form-group">

                                    <button type="submit" value="Register" class="btn subs_btn form-control">register now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End login Area =================-->


{% endblock %}


